<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- [START standard_mappings] -->
    <welcome-file-list>
        <welcome-file>landingpage.jsp</welcome-file>
    </welcome-file-list>
<!-- [END standard_mappings] -->

<!-- [START restlet_mappings] -->
    <!-- Catch attendance requests -->
    <display-name>attendance servlet</display-name>

    <servlet>
        <servlet-name>AttendanceRestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>de.ase11.attendanceTrackingSystem.rest.AttendanceApplication</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>AttendanceRestletServlet</servlet-name>
        <url-pattern>/rest/attendance/*</url-pattern>
    </servlet-mapping>

    <!-- Catch group requests -->
    <display-name>group servlet</display-name>

    <servlet>
        <servlet-name>GroupRestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>de.ase11.attendanceTrackingSystem.rest.GroupApplication</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>GroupRestletServlet</servlet-name>
        <url-pattern>/rest/group/*</url-pattern>
    </servlet-mapping>

<!-- [END restlet_mappings] -->

<!-- [START Objectify] -->
    <filter>
      <filter-name>ObjectifyFilter</filter-name>
      <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
      <listener-class>de.ase11.attendanceTrackingSystem.OfyHelper</listener-class>
    </listener>
<!-- [END Objectify] -->
</web-app>
